@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

$bg: #e2eafc;
$grey: #ced4da;
$darkBlue: #1d3557;
$white: #ffffff;
$black: #000000;

$body-bg: #0f0f0f;
$primary: #ff0000;
$text: #fafafa;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius-sm: 10px;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$montserrat: 'Montserrat', sans-serif;
